@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    background-color: #5A6FEE;
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    background-image: url('img/celular.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top right;
    background-position-y: 130px;
}

header {
    margin: 30px 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header nav {
    flex: 1;
    border: 5px solid #3068d2;
    border-radius: 25px;
    margin: 0 15px;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 15px;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.9;
}
header nav ul li a:hover {
    opacity: 1;
}

.btn {
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
    margin: 2px 5px;
}

.btn-primary {
    background-color: #ef6c00;
}
.btn-primary:hover {
    opacity: 1;
}

.btn-link {
    background-color: transparent;
}
.btn-link:hover {
    opacity: 1;
}

article {
    margin: 30px 60px;
}

/* tables, ipad */
@media (max-width: 768px) {
    body {
        /*background-color: teal;*/
        background-position-y: 200px;
    }
    header {
        flex-direction: row;
        justify-content: center;
    }
    .logo img {
        width: 150px;
    }

    .top-buttons {
        display: none;
    }
}